<div style="width: 630px;">
    <div class="modal-header">
        <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">BACK</button>
        <button type="button" class="close" ng-click="closeModal()"><i class="fa fa-times"></i></button>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4 class="modal-title">Add investments &amp; shares</h4>
                <p class="text-center">Add the details of your investments & shares, and any associated loans to have this included in your net wealth, or <a href="#">automatically connect</a> to this asset</p>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 control-label">Investment type</label>
                <div class="col-sm-8 col-xs-12">
                    <select class="form-control" ng-options="opt.name for opt in types.investmentTypes track by opt.id" ng-model="assetItem.shares.type" name="assetItem-shares-type" validation="required">
                        <option value="">Please select...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 control-label">Description</label>
                <div class="col-sm-8 col-xs-12">
                    <input type="text" class="form-control" ng-model="assetItem.description" name="assetItem-description" validation="required" />
                </div>
            </div>
            <div class="form-group" ng-show="assetItem.shares.type.id == 12">
                <label class="col-sm-4 col-xs-12 control-label">Number of shares</label>
                <div class="col-sm-8 col-xs-12">
                    <input type="text" class="form-control" ng-model="assetItem.shares.individualShares.numberOfShares" name="assetItem-shares-individualShares-numberOfShares" ng-disabled="assetItem.shares.type.id != 12" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" />
                </div>
            </div>
            <div class="form-group" ng-show="assetItem.shares.type.id == 12">
                <label class="col-sm-4 col-xs-12 control-label">Value per share</label>
                <div class="col-sm-8 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" ng-model="assetItem.shares.individualShares.valuePerShare" name="assetItem-shares-ndividualShares-valuePerShare" ng-disabled="assetItem.shares.type.id != 12" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" />
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="assetItem.shares.type.id == 12">
                <label class="col-sm-4 col-xs-12 control-label">Total value</label>
                <div class="col-sm-8 col-xs-12">
                    <p class="form-control-static" ng-bind="assetItem.shares.individualShares.numberOfShares * assetItem.shares.individualShares.valuePerShare | currency"></p>
                </div>
            </div>
            <div class="form-group" ng-show="assetItem.shares != null && assetItem.shares.type != null && assetItem.shares.type.id != 12">
                <label class="col-sm-4 col-xs-12 control-label">Total value</label>
                <div class="col-sm-8 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" name="assetItem-shares-sharePortfolio-value" ng-model="assetItem.shares.sharePortfolio.value" ng-show="assetItem.shares.type.id == 13" ng-disabled="assetItem.shares.type.id != 13" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" validation-error-to="assetItem-shares-value" />
                        <input type="text" class="form-control" name="assetItem-shares-managedFunds-value" ng-model="assetItem.shares.managedFunds.value" ng-show="assetItem.shares.type.id == 14" ng-disabled="assetItem.shares.type.id != 14" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" validation-error-to="assetItem-shares-value" />
                        <input type="text" class="form-control" name="assetItem-shares-fixedIncome-value" ng-model="assetItem.shares.fixedIncome.value" ng-show="assetItem.shares.type.id == 15" ng-disabled="assetItem.shares.type.id != 15" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" validation-error-to="assetItem-shares-value" />
                        <input type="text" class="form-control" name="assetItem-shares-other-value" ng-model="assetItem.shares.other.value" ng-show="assetItem.shares.type.id == 16" ng-disabled="assetItem.shares.type.id != 16" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" validation-error-to="assetItem-shares-value" />
                    </div>
                    <div class="validation text-danger" id="assetItem-shares-value"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 control-label">Is this investment linked to any of these loans?</label>
                <div class="col-sm-6 col-xs-8">
                    <select multiple class="form-control" ng-model="assetItem.liabilities" ng-disabled="noLinkedLiability">
                        <option ng-repeat="opt in liabilities" value="{{opt.id}}" ng-if="opt.categoryType.id == filterlist.assetInvestmentShares">{{opt.description}}</option>
                    </select>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <div class="form-selection">
                        <label>
                            <input type="checkbox" ng-model="noLinkedLiability" />
                            <span class="round-selection opt-no">NO</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="noLinkedLiability">
                <label class="col-sm-4 col-xs-12 col-sm-offset-4 control-label">Add a new liability?</label>
                <div class="col-sm-4 col-xs-12">
                    <label class="form-selection">
                        <input type="radio" ng-model="addLiability.other" name="addLiability-other" data-ng-value="true" validation="required" validation-error-to="addLiability-other" ng-disabled="!noLinkedLiability" />
                        <span class="round-selection opt-yes">YES</span>
                    </label>
                    <label class="form-selection">
                        <input type="radio" ng-model="addLiability.other" name="addLiability-other" data-ng-value="false" validation="required" validation-error-to="addLiability-other" ng-disabled="!noLinkedLiability" />
                        <span class="round-selection opt-no">NO</span>
                    </label>
                    <div class="validation move-down text-danger" id="addLiability-other"></div>
                </div>
            </div>
            <div ng-show="assetItem.shares.type.id == 12">
                <div class="form-group">
                    <label class="col-sm-4 col-xs-12 control-label">Is this investment part of your SMSF?</label>
                    <div class="col-sm-8 col-xs-12">
                        <label class="form-selection">
                            <input type="radio" ng-model="assetItem.shares.individualShares.smsfRelated" name="assetItem-shares-individualShares-smsfRelated" data-ng-value="true" ng-disabled="assetItem.shares.type.id != 12" validation="required" validation-error-to="assetItem-shares-individualShares-smsfRelated" />
                            <span class="round-selection opt-yes">YES</span>
                        </label>
                        <label class="form-selection">
                            <input type="radio" ng-model="assetItem.shares.individualShares.smsfRelated" name="assetItem-shares-individualShares-smsfRelated" data-ng-value="false" ng-disabled="assetItem.shares.type.id != 12" validation="required" validation-error-to="assetItem-shares-individualShares-smsfRelated" />
                            <span class="round-selection opt-no">NO</span>
                        </label>
                        <div class="validation move-down text-danger" id="assetItem-shares-individualShares-smsfRelated"></div>
                    </div>
                </div>
            </div>
            <div ng-show="assetItem.shares.type.id == 13">
                <div class="form-group">
                    <label class="col-sm-4 col-xs-12 control-label">Is this investment part of your SMSF?</label>
                    <div class="col-sm-8 col-xs-12">
                        <label class="form-selection">
                            <input type="radio" ng-model="assetItem.shares.sharePortfolio.smsfRelated" name="assetItem-shares-sharePortfolio-smsfRelated" data-ng-value="true" ng-disabled="assetItem.shares.type.id != 13" validation="required" validation-error-to="assetItem-shares-sharePortfolio-smsfRelated" />
                            <span class="round-selection opt-yes">YES</span>
                        </label>
                        <label class="form-selection">
                            <input type="radio" ng-model="assetItem.shares.sharePortfolio.smsfRelated" name="assetItem-shares-sharePortfolio-smsfRelated" data-ng-value="false" ng-disabled="assetItem.shares.type.id != 13" validation="required" validation-error-to="assetItem-shares-sharePortfolio-smsfRelated" />
                            <span class="round-selection opt-no">NO</span>
                        </label>
                        <div class="validation move-down text-danger" id="assetItem-shares-sharePortfolio-smsfRelated"></div>
                    </div>
                </div>
            </div>
            <div ng-show="assetItem.shares.type.id == 14">
                <div class="form-group">
                    <label class="col-sm-4 col-xs-12 control-label">Is this investment part of your SMSF?</label>
                    <div class="col-sm-8 col-xs-12">
                        <label class="form-selection">
                            <input type="radio" ng-model="assetItem.shares.managedFunds.smsfRelated" name="assetItem-shares-managedFunds-smsfRelated" data-ng-value="true" ng-disabled="assetItem.shares.type.id != 14" validation="required" validation-error-to="assetItem-shares-managedFunds-smsfRelated" />
                            <span class="round-selection opt-yes">YES</span>
                        </label>
                        <label class="form-selection">
                            <input type="radio" ng-model="assetItem.shares.managedFunds.smsfRelated" name="assetItem-shares-managedFunds-smsfRelated" data-ng-value="false" ng-disabled="assetItem.shares.type.id != 14" validation="required" validation-error-to="assetItem-shares-managedFunds-smsfRelated" />
                            <span class="round-selection opt-no">NO</span>
                        </label>
                        <div class="validation move-down text-danger" id="assetItem-shares-managedFunds-smsfRelated"></div>
                    </div>
                </div>
                <div class="form-group" ng-show="assetItem.shares.managedFunds.smsfRelated">
                    <label class="col-sm-8 col-xs-12 col-sm-offset-4 control-label">Would you like this to be shown under super, instead of investments and shares?</label>
                    <div class="col-sm-8 col-xs-12 col-sm-offset-4">
                        <label class="form-selection">
                            <input type="radio" ng-model="assetItem.shares.managedFunds.showAsSuper" name="assetItem-shares-managedFunds-showAsSuper" data-ng-value="true" ng-disabled="!assetItem.shares.managedFunds.smsfRelated" validation="required" validation-error-to="assetItem-shares-managedFunds-showAsSuper" />
                            <span class="round-selection opt-yes">YES</span>
                        </label>
                        <label class="form-selection">
                            <input type="radio" ng-model="assetItem.shares.managedFunds.showAsSuper" name="assetItem-shares-managedFunds-showAsSuper" data-ng-value="false" ng-disabled="!assetItem.shares.managedFunds.smsfRelated" validation="required" validation-error-to="assetItem-shares-managedFunds-showAsSuper" />
                            <span class="round-selection opt-no">NO</span>
                        </label>
                        <div class="validation move-down text-danger" id="assetItem-shares-managedFunds-showAsSuper"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-primary" ng-show="isAdd" ng-click="saveAsset('invShare')">SAVE</button>
                <button class="btn btn-primary" ng-show="!isAdd" ng-click="updateItem()">UPDATE</button>
                <button class="btn btn-default" ng-show="!isAdd" ng-click="removeItem()">DELETE</button>
            </div>
        </div>
    </div>
</div>