<div style="width: 630px;">
    <div class="modal-header">
        <button type="button" class="btn btn-default pull-left" ng-click="closeModal()">BACK</button>
        <button type="button" class="close" ng-click="closeModal()"><i class="fa fa-times"></i></button>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4 class="modal-title">Add your home &amp; contents insurance</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">

        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 control-label">Is this for one of these properties?</label>
                <div class="col-sm-6 col-xs-8">
                    <select class="form-control" ng-model="insuranceItem.asset" ng-disabled="noLinkedAsset">
                        <option value="">Please select...</option>
                        <option ng-if="opt.categoryType.id == filterlist.insuranceHomeContent" ng-repeat="opt in assets" value="{{opt.id}}">{{opt.description}}</option>
                    </select>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <div class="form-selection">
                        <label>
                            <input type="checkbox" ng-model="noLinkedAsset"/>
                            <span class="round-selection opt-no" ng-click="setLinkedAccounts()">NO</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-show="noLinkedAsset">
                <label class="col-sm-4 col-xs-12 col-sm-offset-4 control-label">Add a property to my list of assets?</label>
                <div class="col-sm-4 col-xs-12">
                    <label class="form-selection">
                        <input type="radio" ng-model="addAsset.property" name="addAsset-property" data-ng-value="true" validation="required" validation-error-to="addAsset-property" ng-disabled="!noLinkedAsset" />
                        <span class="round-selection opt-yes">YES</span>
                    </label>
                    <label class="form-selection">
                        <input type="radio" ng-model="addAsset.property" name="addAsset-property" data-ng-value="false" validation="required" validation-error-to="addAsset-property" ng-disabled="!noLinkedAsset" />
                        <span class="round-selection opt-no">NO</span>
                    </label>
                    <div class="validation move-down text-danger" id="addAsset-property"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 control-label">Description</label>
                <div class="col-sm-8 col-xs-12">
                    <input type="text" class="form-control" ng-model="insuranceItem.description" name="insuranceItem-description" validation="required" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 control-label">Details of cover</label>
                <div class="col-sm-8 col-xs-12">
                    <select class="form-control custom-select" ng-options="opt.name for opt in types.financialInstitutions track by opt.id" ng-model="insuranceItem.insurer" name="insuranceItem-insurer" validation="required">
                        <option value="">Insurance company</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-xs-12 col-sm-offset-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" placeholder="Building sum insured" ng-model="insuranceItem.homeAndContents.buildingSumInsured" name="insuranceItem-homeAndContents-buildingSumInsured" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" validation-error-to="insuranceItem-homeAndContents-buildingSumInsured" />
                    </div>
                    <div class="validation text-danger" id="insuranceItem-homeAndContents-buildingSumInsured"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-xs-12 col-sm-offset-4">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" placeholder="Contents sum insured" ng-model="insuranceItem.homeAndContents.contentsSumInsured"name="insuranceItem-homeAndContents-contentsSumInsured" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" validation-error-to="insuranceItem-homeAndContents-contentsSumInsured" />
                    </div>
                    <div class="validation text-danger" id="insuranceItem-homeAndContents-contentsSumInsured"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 col-sm-offset-4 control-label">Add contents to my list of assets?</label>
                <div class="col-sm-4 col-xs-12">
                    <label class="form-selection">
                        <input type="radio" ng-model="addAsset.other" name="addAsset-other" data-ng-value="true" validation="required" validation-error-to="addAsset-other" />
                        <span class="round-selection opt-yes">YES</span>
                    </label>
                    <label class="form-selection">
                        <input type="radio" ng-model="addAsset.other" name="addAsset-other" data-ng-value="false" validation="required" validation-error-to="addAsset-other" />
                        <span class="round-selection opt-no">NO</span>
                    </label>
                    <div class="validation move-down text-danger" id="addAsset-other"></div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 control-label">Premium</label>
                <div class="col-sm-8 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">$</span>
                        <input type="text" class="form-control" placeholder="Premium" ng-model="insuranceItem.premium" name="insuranceItem-premium" validation="numeric:alt=Please enter a dollar amount as numbers only e.g. 450000.00|required" validation-error-to="insuranceItem-premium" />
                    </div>
                    <div class="validation text-danger" id="insuranceItem-premium"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8 col-xs-12 col-sm-offset-4">
                    <select class="form-control custom-select" ng-options="opt.name for opt in types.repaymentFrequencies track by opt.id" ng-model="insuranceItem.premiumFrequency" name="insuranceItem-premiumFrequency" validation="required">
                        <option value="">Repayment frequency</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 col-xs-12 control-label">Expiry date</label>
                <div class="col-sm-8 col-xs-12">
                    <ng-bs3-datepicker ng-model="insuranceItem.policyExpiry" language="en-au" date-format="DD/MM/YYYY" name="insuranceItem-policyExpiry" validation="required" validation-error-to="insuranceItem-policyExpiry"></ng-bs3-datepicker>
                    <div class="validation-offset validation text-danger" id="insuranceItem-policyExpiry"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <button class="btn btn-primary" ng-show="isAdd" ng-click="saveInsurance('homeContents')">SAVE</button>
                <button class="btn btn-primary" ng-show="!isAdd" ng-click="updateItem()">UPDATE</button>
                <button class="btn btn-default" ng-show="!isAdd" ng-click="removeItem()">DELETE</button>
            </div>
        </div>
    </div>
</div>