<div>
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4 class="modal-title">This will delete both my digital safe stored on this PC and my registration details</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p>If you choose to proceed you will need to re-register if you want to use Wealth Hub again.</p>
                <p>Select OK to cancel your Wealth Hub account and delete the digital safe on this computer.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-6 text-left">
                <button class="btn btn-primary" ng-click="cancelAccount()">OK</button>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-default" ng-click="closeModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>