<div>
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4 class="modal-title">This will delete my digital safe stored on this computer only.</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Your Wealth Hub account details will not be deleted and you will still be able to log into Wealth Hub, however youwill need to re-enter your login details for each of your chosen institutions.</p>
                <p>Select OK to delete your digital safe on this computer.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-6 text-left">
                <button class="btn btn-primary" ng-click="cancelDigitalSafe()">OK</button>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-default" ng-click="closeModal()">Cancel</button>
            </div>
        </div>
    </div>
</div>