<!-- WIDGET: My Net Wealth -->
<div class="widget-growMyWealth">
    <div>
        <div class="row widget-ui-heading">
            <div class="col-xs-12"><h2>Ways to grow my wealth</h2></div>
        </div>
        <div class="widget-ui-body">
            <p>[Firstname], you can earn $250 a year by switching from your ING term deposit account to a Firstmac term deposit account with a 3.75% interest rate.</p>
        </div>
        <div class="row widget-ui-footer">
            <div class="col-xs-12">
                <p><a href="#" class="btn btn-default">MORE WAYS TO GROW MY WEALTH</a></p>
            </div>
        </div>
    </div>
</div>
