<!-- Asset -->
<!--<span class="icon-linked asset">
    <span class="img asset-bank"></span>
</span>
<span class="icon-linked asset">
    <span class="img asset-cash"></span>
</span>
<span class="icon-linked asset">
    <span class="img asset-investment-and-shares"></span>
</span>
<span class="icon-linked asset">
    <span class="img asset-other"></span>
</span>
<span class="icon-linked asset">
    <span class="img asset-real-estate"></span>
</span>
<span class="icon-linked asset">
    <span class="img asset-super"></span>
</span>
<span class="icon-linked asset">
    <span class="img asset-vehicle-and-luxury"></span>
</span>-->
<!-- Liabiltiy -->
<!--<span class="icon-linked liability">
    <span class="img liability-bank"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-business-loan"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-car-loan"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-credit-card"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-home-loan"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-investment-home-loan"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-line-of-credit"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-margin-loan"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-other"></span>
</span>
<span class="icon-linked liability">
    <span class="img liability-personal"></span>
</span>-->
<!-- Insurance -->
<!--<span class="icon-linked insurance">
    <span class="img insurance-caravan-and-trailer"></span>
</span>
<span class="icon-linked insurance">
    <span class="img insurance-disablement"></span>
</span>
<span class="icon-linked insurance">
    <span class="img insurance-home-and-contents"></span>
</span>
<span class="icon-linked insurance">
    <span class="img insurance-income-protection"></span>
</span>
<span class="icon-linked insurance">
    <span class="img insurance-landlord"></span>
</span>
<span class="icon-linked insurance">
    <span class="img insurance-life"></span>
</span>
<span class="icon-linked insurance">
    <span class="img insurance-marine"></span>
</span>
<span class="icon-linked insurance">
    <span class="img insurance-motor"></span>
</span>
<span class="icon-linked insurance">
    <span class="img insurance-trauma"></span>
</span>-->