<header class="sub-nav">
    <div ng-controller="NavbarController" ng-include src="'partials/navs/sub_addedit.html'"></div>
</header>
<div class="container-bg dark">
    <div class="container">
        <h1 class="text-center">Edit my liabilities</h1>
        <p class="text-center dev-missing-bg">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
            erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis autem vel eum
        </p>

        <div class="ui-edit-assets">
            <div class="row">
                <div class="col-sm-4">
                    <div class="list-group">
                        <div class="list-group-item" ng-class="{ active: $index == $parent.currentIndex }" ng-repeat="item in items">
                            <div ng-click="openItem($index, item.categoryType.id)">{{item.id}} - {{item.description}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 bg-gray modal-display">
                    <liability-credit-card          ng-if="typeID == 7"></liability-credit-card>
                    <liability-home-loan            ng-if="typeID == 8"></liability-home-loan>
                    <liability-investment-home-loan ng-if="typeID == 9"></liability-investment-home-loan>
                    <liability-personal-loan        ng-if="typeID == 10"></liability-personal-loan>
                    <liability-car-loan             ng-if="typeID == 11"></liability-car-loan>
                    <liability-business-loan        ng-if="typeID == 12"></liability-business-loan>
                    <liability-line-of-credit       ng-if="typeID == 13"></liability-line-of-credit>
                    <liability-margin-loan          ng-if="typeID == 14"></liability-margin-loan>
                    <liability-other                ng-if="typeID == 15"></liability-other>
                </div>
            </div>
        </div>

    </div>
</div>
